.container {
  height: 100%;
  color: white;
  text-align: center;
  padding-top: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 72px;
}
