.container {
  height: 100%;
  --background: "";
  background: var(--background) no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
  color: white;
  text-align: center;
  padding-top: 5rem;
  position: relative;
}

.back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}
